/***************************************************************
CSS for all JSP pages
***************************************************************/
body {
    margin: 0;
}

table {
    border-collapse: collapse;
}

/*td {
	border:1px solid black;
	padding: 2px;
}*/
#header, #footer, .content {
    border: 0px solid;
}

/***************************************************************
Style of the main table
***************************************************************/
#main-container {
    width: 100%;
    height: 100%;
}

/***************************************************************
Header style (TD tag in the first top row)
***************************************************************/
#header {
    background: #303032;
    padding: 0px;
}

.navbar {
    border-bottom: 1px solid #0080ff;
    /*height: 60px;*/
}

/***************************************************************
Style for the left located head menu (DIV tag at left)
***************************************************************/
#leftHeader {
    float: left;
    margin-left: 10px;
    padding: 2px;
    height: 55px;
}

/***************************************************************
Style for the right located head menu (DIV tag at right)
***************************************************************/
#rightHeader {
    float: right;
    text-align: right;
    margin-right: 10px;
    padding: 2px;
}

/***************************************************************
Content styles (TD tag in the main middle row)
***************************************************************/
.content {
    height: 100%;
    background: #303032;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 85px;
    text-align: left;
    vertical-align: top;
}

/***************************************************************
Footer style (TD tag in the last bottom row)
***************************************************************/
#footer {
    text-align: center;
    background: #303032;
}

/***************************************************************
Style for the ERROR message
***************************************************************/
.error {
    font-size: large;
    color: rgb(204, 0, 0);
}

/***************************************************************
Miscellaneous
***************************************************************/
.center {
    text-align: center;
    vertical-align: middle;
}

.noborder {
    border: 2px solid red;
}

/***************************************************************
Login form (login.jsp)
***************************************************************/
#login_form > fieldset {
    display: inline;
}

#login_form > input[type=submit] {
    margin-top: 5px;
}

/***************************************************************
Settings form (settings.jsp)
***************************************************************/
#settings_form > div > p {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 2px;
}

#settings_form > input[type=submit] {
    margin-top: 10px;
}

/***************************************************************
List menu table (list_menu.jsp)
***************************************************************/
#list_menu_table {
    margin-top: 5px;
}

#list_menu_table thead {
    text-align: center;
}

#list_menu_table td:last-child {
    text-align: center;
}

/***************************************************************
List order table (list_order.jsp)
***************************************************************/
#list_order_table > thead > tr {
    text-align: center;
}

#list_order_table td + td + td {
    text-align: center;
}

#list_order_table > tbody td + td + td + td {
    text-align: left;
}

/***************************************************************
Make order form (list_menu.jsp)
***************************************************************/
#make_order {
    margin-top: 5px;
}

.select-block {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0;
}

.select-block .form-control {
    width: auto;
}

.select-block label, select {
    margin-right: 20px;
}

.table thead th {
    vertical-align: middle;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

form .form-img {
    margin: 0;
}

.btn .btn-primary {
    color: red;
}

.form-img th {

}

.table-header-block {
    display: flex;
    justify-content: start;
}

.sort-arrows-block {
    width: 10px;
}

.table-header-block span {
    padding-top: 7px;
    padding-right: 10px;
}

.form-img .orderBy {
    width: 9px;
    height: 20px;
    margin-botton: 0;
    padding: 0;
    border: 0;
    background: transparent url("../images/sort_up.png") no-repeat center top;
    text-indent: -1000em;
    cursor: pointer;
    cursor: hand;
    text-indent: -1000em;
}

.form-img .orderByDesc {
    width: 9px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent url("../images/sort_down.png") no-repeat center top;
    text-indent: -1000em;
    cursor: pointer;
    cursor: hand;
}

.table table table-hover thead th {
    vertical-align: middle;
}

.user-name {
    margin: 10px
}

.text-footer, .text-header {
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.navbar-padding {
    padding: 0 10px;
}

.editFlight {
    padding: 20px;
}

.flight-btn {
    margin: 10px 10px;
}


.form-btns {
    padding: 0 42px;
}

.immutable-values {
    background-color: #a6adb3 !important;
}

.main-container {
    background: #303032;
}

.start-page {
    position: relative;
    margin: auto;
}

.icon-bar {

}

.icon-start-page a {
    color: white;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    /*	padding: 12px 0;  Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    /*	background-color: #000; /* Add a hover color */

}

.carousel-item__img-wrapper {
    position: relative;
    height: 100vh;
}

.carousel-item__img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.light {
    color: #ffffff;
    border-color: #ffffff;
}

.start-page-header {


}

.left-header {
    position: absolute;
    top: 5%;
    left: 15%;
    float: left;
    margin: 20px;
    font-size: 36px; /* Increased font size */
}

.right-header {
    position: absolute;
    top: 5%;
    right: 15%;
}

.nav-links {
    transform: translate(0%, 10%);
    padding: 0 5px;
}

.btn-edit {
    border-radius: 5px;
    color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    color: dodgerblue;
}

.btn-edit:hover {
    border-color: #007bff;
    background: #007bff;
    color: #fff;
    text-decoration: none;
}

.btn-delete {
    border-radius: 5px;
    color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    color: dodgerblue;
}

.btn-delete:hover {
    border-color: #007bff;
    background: #007bff;
    color: #fff;
    text-decoration: none;
}

.btn-create {
    border-radius: 5px;
    color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    color: dodgerblue;
}

.btn-create:hover {
    border-color: #007bff;
    background: #007bff;
    color: #fff;
    text-decoration: none;
}

.btn-consider {
    border-radius: 5px;
    color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    color: dodgerblue;
}

.btn-consider:hover {
    border-color: #007bff;
    background: #007bff;
    color: #fff;
    text-decoration: none;
}

.btn-finished {
    border-radius: 5px;
    color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    color: dodgerblue;
}

.btn-finished:hover {
    border-color: #007bff;
    background: #007bff;
    color: #fff;
    text-decoration: none;
}

.btn-prepared {
    border-radius: 5px;
    color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    color: dodgerblue;
}

.btn-prepared:hover {
    border-color: #007bff;
    background: #007bff;
    color: #fff;
    text-decoration: none;
}

.action-label {
    padding-left: 1rem;
}

.icon_delete {
    padding: 0px;
    border: 0;
    vertical-align: baseline;
}

.icon_delete i:hover {
    color: #fff; /* Add a hover color */
    text-decoration: none;
}

.action_icons i {
    padding: 2px;
}

.action_icons i:hover {
    color: #fff; /* Add a hover color */
}

.pagination {
    padding: 15px;
}

.sidenav {
    text-align: left;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
}


.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;

    color: #818181;
    display: block;
    transition: 0.3s;
}

.closebtn:hover {
    color: #007bff;

}

.profile {
    padding: 10px 30px;
}

.profile img {
    padding: 10px 20px;
    border-radius: 50%;
    width: 200px;
    vertical-align: middle;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.header-profile-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 0 25px;
}


.radio-buttons {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-buttons input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-buttons:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-buttons input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-buttons input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-buttons .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.create-user-form {
    margin-bottom: 2rem;
}

.tooltip-show {
    display: block;
}

.invalid-input {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.valid-input {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.autocomplete {
    position: relative;
    display: inline-block;
}


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    color: #007bff;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.profile-input {
    margin-bottom: 10px;
}